# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /prof_dicio/blog/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /prof_dicio/blog/index.php [L]
</IfModule>
# END WordPress

